#pegs.transitions-enabled
    - @pegs.each do |peg|
        .box.panel.panel-default
            = link_to (image_tag peg.image.url), peg
            .panel-body
                %h2= link_to peg.title, peg
                %p.user
                Submitted by
                = peg.user.email